/* Import base CSS style */
@import "_tufte";

/* Declare variables */
$banner-green: #d9ded2;
$dark-green: #608376;

.wrapper {
    display: grid;
}

.masthead {
    display: grid;

    /* Decrease top blockquote margin */
    div.epigraph > blockquote {
        margin: 1.5em 2em;
    }
    
    div.epigraph {
        margin: 0;
    }

    .top-nav > ul {
        
        /* Override tufte.css link underline */
        a:link, .tufte-underline, .hover-tufte-underline:hover {
            text-shadow: 0.03em 0 $banner-green, -0.03em 0 $banner-green, 0 0.03em $banner-green, 0 -0.03em $banner-green, 0.06em 0 $banner-green, -0.06em 0 $banner-green, 0.09em 0 $banner-green, -0.09em 0 $banner-green, 0.12em 0 $banner-green, -0.12em 0 $banner-green, 0.15em 0 $banner-green, -0.15em 0 $banner-green;
            background-position: 0% 93%, 100% 93%, 0% 93%;
            background: none $banner-green;
            color: #111;
        }

        max-width: 875px;
        background-color: $banner-green;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(7, minmax(175px, auto));
        align-items: center;
        justify-content: stretch;
        li {
            padding: 5px 10px;
            display: grid;
        }
    }
}

/* Override tufte.css h1 margin */
h1 {
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

/* Override tufte.css article padding */
article {
    padding: 1em 0;
}

/* Post list */
.post-list {
    font-size: 1.3em;

    ul {
    /* Override tufte.css link underline */
        a:link, .tufte-underline, .hover-tufte-underline:hover {
            text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
            background-position: 0% 93%, 100% 93%, 0% 93%;
            background: none #fffff8;
            color: #111;
        }
    }
    
    p {
        margin: 0;
    }

    grid-template-rows: auto;
    grid-gap: 0;
    max-width: 875px;

    ul {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 4fr 2fr 1fr;
        li {
            list-style-type: none;
            grid-column: 1;
        }
    }
}

.post-date {
    color: $dark-green;
}

.post-year {
    grid-column: 2;
    justify-self: end;
    font-size: 1.2em;
    color: $dark-green;
}

/* Page footer */
.footer {
    max-width: 875px;
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
}

.footer-redirect {
    grid-column: 2;
    justify-self: end;
    font-style: italic;
    font-size: 1.2rem;
}
