{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}{{ config.title }}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{{ get_url(path="molly.css", trailing_slash=false) }}" />
  </head>
  <body>
    <!-- ==== START PAGE WRAPPER ==== -->
    <div class="wrapper">

      <!-- ==== START MASTHEAD ==== -->
      <header role="banner" class="masthead">
        <!-- Quote -->
        <div class="epigraph">
          <blockquote>
            <p>
              {% if page.extra.banner_quote %}
              {{ page.extra.banner_quote }}
              {% else %}
              The unlived life is not worth examining.
              {% endif %}
            </p>
            <footer>
              {% if page.extra.banner_footer %}
              {{ page.extra.banner_footer }}
              {% else %}
              ...and other thoughts of mine.
              {% endif %}
            </footer>
          </blockquote>
        </div>

        <nav role="navigation" class="top-nav">
          <ul>
            <li><a href="#">about</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">code</a></li>
          </ul>
        </nav>

      </header>
      <!-- end masthead -->

      <!-- ==== START PRIMARY CONTAINER ==== -->
      <div class="primary-container">

        <!-- ==== START MAIN ==== -->
        <main class="main" role="main">
          {% block content %}
          <article>
            <h1>{{ page.title | safe }}</h1>
            <p class="subtitle">{{ page.date | safe }}</p>
            <section>
              {{ page.content | safe }}
            </section>
          </article>
          {% endblock content %}
        </main>
        <!-- end main -->

        <!-- ==== START SIDEBAR ==== -->
        {% block sidebar %}
        {% endblock sidebar %}
        <!-- end sidebar -->

      </div>
      <!-- end primary container -->

      <!-- ==== START PAGE FOOTER ==== -->
      <footer class="footer" role="contentinfo">
        <p class="footer-redirect">Content Info</p>
      </footer>
      <!-- end footer -->

    </div>
    <!-- end page wrapper -->
  </body>
</html>
