<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" >

    <title>
      {% if page.title %}
      {% block title %}{{ page.title }}{%endblock title%} - {{ config.title }}
      {% else %}
      {{ config.title }}
      {% endif %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ get_url(path="molly.css", trailing_slash=false) }}" />
  </head>
  <body>
    <div class="page">
      <!-- ==== START MASTHEAD ==== -->
      <header class="masthead" role="banner">
        <nav role="navigation">
	  <ul>
	    <li><a href="/">Home</a></li>
	    <li><a href="/">About</a></li>
	    <li><a href="/">Contact</a></li>
	  </ul>
        </nav>
        <hr />
      </header>
      <!-- end masthead -->

      <!-- ==== START PRIMARY CONTAINER ==== -->
      <div class="container">
        <!-- ==== START MAIN ==== -->
        <main role="main">
          {% block content %}
          <p>Welcome to my website!</p>
          {% endblock content %}
        </main>
        <!-- end main -->

        <!-- ==== START SIDEBAR ==== -->
        <div class="sidebar">
          <p>This is sidebar.</p>
        </div>
        <!-- end sidebar -->
      </div>
      <!-- end primary container -->

      <!-- ==== START PAGE FOOTER ==== -->
      <footer role="contentinfo" class="footer">
        This is footer.
      </footer>
      <!-- end footer -->
    </div>
    <!-- end page -->
  </body>
</html>
