<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" >
    
    <title>
      {% if page.title %}
      {% block title %}{{ page.title }}{%endblock title%} - {{ config.title }}
      {% else %}
      {{ config.title }}
      {% endif %}
    </title>

    <!-- TODO set path -->
    <!-- CSS -->
    <link rel="stylesheet" href="{{ get_url(path="tufte.css", trailing_slash=false) }}" />
  </head>
  <body>
    {% block content %}
    {% endblock content %}
  </body>
</html>
