{% extends "base.html" %}

{% block title %}{{ page.title | safe }}{% endblock title %}

{% block content %}
<article>
  <h1>{{ page.title | safe }}</h1>
  <p class="subtitle">{{ page.date | safe }}, by {{ page.extra.author | safe }}</p>
  <section>
    {{ page.content | safe }}
  </section>
</article>
{% endblock content %}

{% block sidebar %}
<aside id="sidebar">
  <hr />
  <h3 class="post-list-title">Other posts</h3>
  {% set parent_section = get_section(path="blog/_index.md") %}
  <ul>
    {% for each_page in parent_section.pages | reverse %}
    {% if page.title == each_page.title %}
    <li>{{ page.title }} <span class="post-date">{{ page.date }}</span></li>
    {% else %}
    <li><a href="{{ each_page.permalink }}"><span class="other-post">{{ each_page.title }}</span></a> <span class="post-date"> {{ each_page.date }}</span></li>
    {% endif %}
    {% endfor %}
  </ul>
</aside>
{% endblock sidebar %}
