{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
<article>
  <h1>{{ page.title }}</h1>
  <p>Posted on: {{ page.date }}</p>
  <p>Word count: {{ page.word_count }} </p>
  {{ page.content | safe }}
</article>
{% endblock content %}

{% block sidebar %}
<aside class="post-list">
  <hr />
  <p>More posts:</p>
  <ul>
    <p class="post-year">2019</p>
    <li><span class="post-title">Post 1</span> <span class="post-date">Date</span></li>
    <li><span class="post-title">Post 2</span> <span class="post-date">Date</span></li>
    <li><span class="post-title">Post 3</span> <span class="post-date">Date</span></li>
    <li><span class="post-title">Post 4</span> <span class="post-date">Date</span></li>
    <li><span class="post-title">Post 5</span> <span class="post-date">Date</span></li>
  </ul>
</aside>
{% endblock sidebar %}
